*.pyc
*.html~
*.p
*.json~
*.db
*.pk
*.swp
*.swm
*.swn
*.swo
*.csv
*.npy
*.h5

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/*.html

# Installation
build/
dist/
*.egg-info/

# Mac files
*.DS_Store

*__pycache__/
reference/virga/Al2O3.mieff
reference/virga/Al2O3.refrind
reference/virga/CH4.mieff
reference/virga/CH4.refrind
reference/virga/Cr.mieff
reference/virga/Cr.refrind
reference/virga/Fe.mieff
reference/virga/Fe.refrind
reference/virga/H2O.mieff
reference/virga/H2O.refrind
reference/virga/KCl.mieff
reference/virga/KCl.refrind
reference/virga/Mg2SiO4.mieff
reference/virga/Mg2SiO4.refrind
reference/virga/MgSiO3.mieff
reference/virga/MgSiO3.refrind
reference/virga/MnS.mieff
reference/virga/MnS.refrind
reference/virga/Na2S.mieff
reference/virga/Na2S.refrind
reference/virga/NH3.mieff
reference/virga/NH3.refrind
reference/virga/TiO2.mieff
reference/virga/TiO2.refrind
reference/virga/ZnS.mieff
reference/virga/ZnS.refrind
