*.pyc
*.html~
*.p
*.json~
*.db
*.pk
*.swp
*.swm
*.swn
*.swo
*.csv
*.npy
*.fits
*.h5
*.hdf5

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/*.html

# Installation
build/
dist/
*.egg-info/

# Mac files
*.DS_Store

*__pycache__/
data/*
grp/*
.CondaPkg
.CondaPkg/*
*.mp4
reference/*