observation_type = 'thermal' # options: 'transmission', 'thermal', 'reflected' or a combo e.g. transmission+thermal
observation_type_options = ['thermal', 'transmission', 'reflected']
irradiated=false #options: true or false (if true, user needs to input star properties)
calc_type='spectrum'#spectrum climate or retrieval

[InputOutput]
observation_data = ['/Users/sjanson/Desktop/code/picaso/docs/notebooks/D_climate/spectra_logzz_9.0_teff_400.0_grav_1000.0_mh_0.0_co_1.0.nc']
retrieval_output = '/Users/sjanson/Desktop/code/picaso/docs/notebooks/J_driver_WIP/output'
spectrum_output = '/Users/sjanson/Desktop/code/picaso/docs/notebooks/J_driver_WIP/output'


[OpticalProperties]
opacity_files = '/Users/sjanson/Desktop/code/picaso/reference/opacities/opacities.db' # single db or list of opacity dbs 
opacity_method = 'resampled' #list of options: resampled, preweighted, resortrebin
opacity_kwargs = {} # any other inputs you want to give to justodit.opannection()
virga_mieff = '/Users/sjanson/Desktop/code/picaso/reference/virga/' # any other inputs you want to give to justodit.opannection()

[object]
radius    = {value=1.2, unit='Rjup'}
mass      = {value=1.2, unit='Mjup'}
gravity   = {value=1e5, unit='cm/s**2'}
distance  = {value=8.3,  unit='parsec'}
teff      = {value=5400, unit='Kelvin'}
teq       = {value=500, unit='Kelvin'}

[geometry]
phase = {value=0, unit='radian'} #planet phase angle

[star]
radius= {value=1, unit='Rsun'} 
semi_major= {value=200, unit='AU'}
type='grid' #'grid' or 'userfile'
type_options=['grid', 'userfile']

[star.grid]
logg  = 4
teff  = 5400
feh   = 0
database  ='ck04models'# options: phoenix, ck04models, or other pysynphot databases
database_options=['ck04models', 'phoenix']

[star.userfile]
filename = '' # simple two column format no header column1=wavelength, column2=flux
w_unit = '' 
f_unit = '' 

[temperature]
profile = 'knots' 

[temperature.userfile]
filename='/Users/sjanson/Desktop/code/picaso/reference/base_cases/HJ.pt' #columns names: temperature,pressure # units:Kelvin,bar (can also include chemistry in the same file)

pd_kwargs={sep=' '} #kwargs for pandas.read_csv

#[temperature.zj24]
#pressures=[1e3, 1e1, 1e0, 1e-1, 1e-2, 1e-4]
#Tbottom={value=2000,unit='K'}
#dT=[0.2857,0.25,0.0,0.25,0.2,0.12]

[temperature.pressure]
reference = {value=1e1,unit='bar'}
min = {value=1e-5, unit='bar'}
max = {value=1e3,unit='bar'}
nlevel = 100
spacing = 'log'

[temperature.isothermal]
T = 500

[temperature.knots]
P_knots=[1e2,1e1,1e0,1e-1,1e-2, 1e-3]
T_knots=[1000, 550, 300, 200, 100, 50]
interpolation='brewster' 
interpolation_options = ['brewster', 'linear', 'quadratic_spline', 'cubic_spline']
scipy_interpolate_kwargs={}
#options are: brewster, linear, quadratic_spline, cubic_spline, OR any function from scipy.interpolate with associated kwargs passed to scipy_it

[temperature.madhu_seager_09_inversion]
P_1=1e1
P_2=1e-3
P_3=1e-5
T_3=1000
alpha_1=1
alpha_2=1
beta=0.5

[temperature.madhu_seager_09_noinversion]
P_1=1e1
P_3=1e-5
T_3=1000
alpha_1=1
alpha_2=1
beta=0.5

[temperature.guillot]
Teq=1000
T_int=100
logg1=-1
logKir=-1.5
alpha=0.5

[temperature.sonora_bobcat]
sonora_path='/Users/nbatalh1/Documents/data/sonora_bobcat/structures_m+0.0'
teff=1000

#TODO turn below into a notice
#options: 'visscher', 'free', 'userfile'; delete this block if already given chem in pt userfile : future updates 'fast_chem' vs 'photo_chem'
[chemistry]
method='visscher' 

[chemistry.free]#note all molecules must be case sensitive: e.g., TiO. Isotopologues should be specified with dashes e.g.,: 12-CO
H2O={value=1e-3,unit='v/v'}
CH4={value=[1e-4,1e-3],unit='v/v', pressures=[1e-2],pressure_unit='bar'}
NH3={value=1e-5,unit='v/v'}
TiO={value=1e-3,unit='v/v'}

#CO2 = {values=[1e-2,1e-3],pressure=[1e-2, 1e-4], profile='knots'}
background={gases=['H2','He'],fraction=5.667} # optional 

[chemistry.visscher]
cto_absolute=0.55
log_mh=0

[chemistry.userfile]
filename='/Users/sjanson/Desktop/code/picaso/reference/base_cases/HJ.pt'
pd_kwargs={sep=' '}

[clouds]
cloud1_type='virga' #options: brewster_grey, brewster_mie, virga, flex_fsed, hard_grey, userfile

[clouds.cloud1.hard_grey]
p = [1] # {value=1,unit='logbar'} #bottom pressure
dp = [1] # {value=1,unit='logbar'} #thickness in log 
w0 = [0.0] #single scattering albedo
g0 = [0.0] #asymmetry
opd = [10] #cloud optical depth per layer

[clouds.cloud1.flex_fsed]
condensate='Al2O3'#'SiO2'
base_pressure=1 # {value=1 , unit='bar'}
ndz=2 #arbitrary scaling for setting max optical depth of the cloud
fsed=1
distribution='lognorm' # "lognorm" or "hansen" .. make sure to add respective kwargs below
distribution_options = ['lognorm', 'hansen']
lognorm_kwargs = {sigma=1, lograd = -4}  #log rad in log cm
hansen_kwargs = {b=1 , lograd = -4}

[clouds.cloud1.virga]
mh = 1 
condensates=['Al2O3']#['SiO2','Al2O3']
fsed=1
kzz=1e9 # {value=1e9,unit='cm**2/s'}
mmw = 2.2
sig =2 
# can add any other virga param see justdoit.inputs.virga

[clouds.cloud1.brewster_mie]
condensate='Na2S'
decay_type = 'slab' # can be 'slab' or 'decay' #make sure to add respective kwargs below
decay_type_options = ['slab', 'deck']
slab_kwargs={ptop= 1, dp= 1, reference_tau= 1} # ptop: log bar, dp: log bar, ref tau: micron
deck_kwargs={ptop= -1, dp= 1} # ptop: log bar, dp: log bar
distribution = 'lognorm' # 'lognorm' or 'hansen', make sure to add respective kwargs below
distribution_options = ['lognorm', 'hansen']
lognorm_kwargs = {sigma=1, lograd = -4}  #log rad in log cm
hansen_kwargs = {b=1 , lograd = -4}

[clouds.cloud1.brewster_grey]
decay_type = 'slab' # can be 'slab' or 'decay' #make sure to add respective kwargs below
decay_type_options = ['slab', 'deck']
alpha=-4 # used for wavelength dependent scattering cross section 
ssa=1 # single scattering albedo set to 1 
reference_wave=1 #reference wave in micron sets to alpha 
slab_kwargs={ptop= -1, dp= 1, reference_tau= 1} # ptop: log bar, dp: log bar, ref tau: micron
deck_kwargs={ptop= -1, dp= 1} # ptop: log bar, dp: log bar

[clouds.patchy]
npatch = 1
patch1 = 'clear'
patch2 = 'cloud1'
frac_1 = 0.3 #this is the fraction assigned to patch 1


[retrieval]

[retrieval.object.radius]
prior="uniform"
uniform_kwargs={min=0.5, max=2}
log=false

[retrieval.chemistry.free.H2O]
prior='uniform'
min=-12
max=0
log=false

[retrieval.clouds.cloud1.slab-grey.ptop]
prior="uniform"
min=-3
max=2
log=true

[retrieval.clouds.cloud1.slab-grey.dp]
prior="uniform"
min=0.005
max=2
log=true

#[retrieval.errinf]
#prior="uniform"
#min=-2
#max=4
#log=true

[sampler]
code='dynesty'#options: ultranest, emcee, pymultinest, dynesty
sampler_kwargs={live_points = 100}